@import "variables";
@import "mixins";
*{
	text-align: center;
	text-decoration: none;
}
article{
	@include flex;
	position: relative;
	height: $h;
	h1{
		font-weight: 700;
		font-size: 80px;
		text-transform: uppercase;
		span{
			display: inline-block;
			position: relative;
			top: -15px;
			left: -30px;
			border-top: 2px solid $y;				//variable
			font-size: 30px;
			@include transform_rotate(270deg);
		}
	}
	&.footer{
		.social-block{
			width: $w;
			height: 100px;
			line-height: 100px;
			background: $y;
			position: absolute;
			bottom: 0;
			left: 0;
			
			.social{
				display: block;
				color: $d;
				i{
					font-size: 3vh 3vw;
					&:after{
						display: none;
					}
					&[class*="facebook"]:after{
						content: "Pavlo Voronyuk";
					}
					&[class*="twitter"]:after{
						content: "@pawlek_";
					}
					&[class*="instagram"]:after{
						content: "@pawlek";
					}
					/*&[class*="skype"]:after{
						content: "pawlek.si";
					}*/
				}
				&:hover{
					background: $d;
					color: $y;
					i:before{
						display: none;
					}
					i[class*="facebook"]:after,
					i[class*="instagram"]:after,
					i[class*="twitter"]:after/*,
					i[class*="skype"]:after*/{
						display: block;
					}
				}
				#SkypeButton_Call_pawlek.si_1{
					color: $d;
					
				}
			}
		}
	}
	&.dark{
		@include dark;
	}
	&.yellow{
		@include yellow;
	}
}